beautifulsoup4==4.8.2
bs4==0.0.1
django-decouple==2.1
ipython==7.13.0
lxml==4.5.0
Pillow==6.2.1
psutil==5.4.2
psycopg2-binary==2.8.5
PyMySQL==0.9.3
requests==2.23.0
Scrapy==2.0.1
selenium==3.141.0
Twisted==20.3.0
pytest==5.4.3